* {
  color: white;
}

.hc {
  font-size: 430%;
  line-height: 0.7;
  margin: 6% 0 0 15%;
  font-weight: 600;
}

.a {
  margin: 4% 0 0 85%;
  display: block;
  font-size: 170%;
  text-decoration: none;
  color: white;
  position: fixed;
  top: 20px;
}

.a :hover {
  width: 100px;
  height: 100px;
  transform: translateX(8%);
  transition: transform 250ms ease-in-out;
}

.main {
  margin: 15% auto;
  display: block;
  max-width: 60%;
}

.main p {
  font-size: 170%;
}

.main h1 {
  font-size: 310%;
  font-weight: 600;
}

.main a {
  text-decoration: none;
  color: red;
  margin-top: 0.2%;
  display: block;
  font-weight: 350;
  font-size: 100%;
}

.main a:hover {
  transform: translateX(4%);
  transition: transform 250ms ease-in-out;
}
