* {
  color: white;
}

.hcl {
  font-size: 600%;
  line-height: 0.7;
  margin: 6% 0 0 15%;
  font-weight: 600;
}

.a {
  margin: 4% 0 0 85%;
  display: block;
  font-size: 170%;
  text-decoration: none;
  color: white;
  position: fixed;
  top: 20px;
}

.main {
  margin: 10% 0 0 20%;
  display: block;
}

.main p {
  font-size: 170%;
}

.main h1 {
  font-size: 310%;
  font-weight: 600;
}

.main a {
  text-decoration: none;
  color: red;
  margin-top: 0.2%;
  display: block;
  position: relative;
  font-size: 160%;
}

.main a:hover {
  transform: translateX(2%);
  transition: transform 250ms ease;
}

body {
  overflow-x: hidden;
}
