.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
  height: 100vh;
}

.first {
  width: 35%;
  align-items: center;
  justify-content: center;
  margin: 3% 0 0 12%;
}

.main > div h1:hover {
  transform: translateX(8%);
  transition: transform 250ms ease-in-out;
}

a {
  text-decoration: none;
}

.main > div h1 {
  font-size: 600%;
  font-weight: 80%;
  line-height: 0.5;
  color: red;
}

.about:hover span {
  display: none;
}

.about:hover:before {
  content: "About";
}

.work:hover span {
  display: none;
}

.work:hover:before {
  content: "Work";
}

.contact:hover span {
  display: none;
}

.contact:hover:before {
  content: "Contact";
}
